// color palette
$color-dark-1: #000000;
$color-light-1: #ffffff;
$color-light-2: #eea84f;
$color-light-3: #357b72;
$color-light-4: #d9d9d992;
$color-light-5: #3979e0;

@mixin border {
  border: 2px solid red;
}

@mixin fontXl {
  font-size: 10rem;
}
@mixin fontLg {
  font-size: 6rem;
}
@mixin fontMd {
  font-size: 4rem;
}
@mixin fontSm {
  font-size: 3rem;
}
@mixin fontXs {
  font-size: 1.8rem;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
