//Buttons
.btn {
  padding: 1.5rem 2rem;
  background-color: $color-dark-1;
  color: $color-light-1;
  letter-spacing: 1.5px;
  border-radius: 13px;
  @include fontXs;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #696969;
  }
}

// Navigation
.nav {
  position: absolute;
  top: 0;
  left: -30%;
  height: 100%;
  width: 30%;
  background-color: #000000;
  z-index: 100;

  a.nav__logo {
    display: block;
    width: 75%;
    margin: 2rem auto;
  }

  &__list {
    height: auto;
    max-height: 100%;
    width: 60%;
    text-align: center;
    margin: 4rem auto;

    &-item {
      display: inline-block;
      color: $color-light-1;
      @include fontLg;
      margin: 3rem 0;
      transition: color 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $color-light-2;
      }
    }
  }

  &__close {
    position: absolute;
    top: 6rem;
    right: 0rem;
    color: $color-light-1;
    z-index: 101;
    width: 4rem;
    height: 4rem;
    background-color: $color-light-2;
  }
}

// active
.nav-active {
  left: 0;
}

.nav__close-active {
  right: -4rem;
}

// header
.header {
  &__nav {
    margin-left: 5rem;
    i.fas {
      font-size: 6rem;
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__menu {
    display: flex;
    align-items: flex-end;
    @include fontSm;
    margin: 0 2rem 0 0;
    transition: all 2s ease-in;

    &-item {
      margin: 0 1rem;
    }
  }

  .header__menu-item.header-active {
    @include fontMd;
    text-decoration: underline;
  }

  &__user {
    margin-right: 5rem;
    display: flex;
    align-items: center;

    & * {
      margin: 0 5px;
    }

    &-search {
      position: relative;
      display: flex;
      align-items: center;

      .search-input {
        width: 0;
        // padding: none;
        padding: 1rem 1rem;
        visibility: hidden;
        border-radius: 13px;
        border: 1px solid $color-dark-1;
        transition: all 0.5s ease-in;

        &:focus {
          outline: none;
        }
      }

      .search-icon {
        position: absolute;
        right: 0;

        &:focus {
          outline: none;
        }
      }

      &:focus-within .search-input {
        visibility: visible;
        width: 20rem;
      }
    }
  }
}

// Selection & Product Header
.header.selection__header {
  position: relative;

  .header__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: auto;
  }

  .header__user {
    margin-left: auto;
  }
}


///Cart amount
.header__user-cart {
  position: relative;
}
.cart__count {
  position: absolute;
  top: -40%;
  left: -30%;
  transform: translate(-30%, -40%);
  @include fontSm;
  border-radius: 50px;
  min-width: 4rem;
  width: auto;
  min-height: 3rem;
  height: auto;
  padding-bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-2;
  color: $color-dark-1;
}