.cart {
  width: 60%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem 6rem 0;
  position: relative;

  &__title {
    @include fontMd;
    margin-bottom: 2rem;
  }

  &__desc {
    @include fontXs;
    margin-bottom: 2rem;
  }
}

.btn.btn__cart {
  display: none;
  width: auto;
  min-width: 12rem;
  max-width: 25rem;
  margin-left: auto;
  margin-right: 2rem;
  background-color: $color-light-2;

  &:hover {
    background-color: rgba($color-light-2, 0.8);
  }
}

.cart__item {
  width: 100%;
  height: 15rem;
  padding: 0 2rem;
  margin-bottom: 5rem;
  border-radius: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  background-color: $color-light-1;

  &-img {
    height: 90%;
    width: auto;
  }

  &-desc {
    width: 40%;
    @include fontXs;
    margin-left: 2rem;

    .item__title {
      font-size: 2.3rem;
      font-weight: 600;
      margin-bottom: 1rem;

      &:hover,
      &:focus {
        color: #696969;
      }
    }

    .item__desc {
      color: #696969;
    }
  }

  &-quantity {
    margin: 1rem 0;
    @include fontXs;
    color: $color-dark-1;
    width: 6rem;
    padding: 1rem 0.5rem;
    border: 1px solid #696969;

    &:focus {
      outline: 1px solid $color-light-2;
    }
  }

  &-price {
    @include fontSm;
    font-weight: 600;
    margin: 0 auto;
  }

  &-remove {
    margin-right: 3rem;
    transition: all 0.2s ease-in;

    &:hover {
      animation: shake 0.4s ease-in-out;
      color: rgb(197, 81, 81);
    }
  }
}

/* Customize scrollbar for Chrome, Safari and Opera */
.cart::-webkit-scrollbar {
  width: 2px;
  // display: none;
}

.cart::-webkit-scrollbar-track {
  background-color: $color-light-1;
}

.cart::-webkit-scrollbar-thumb {
  background-color: $color-dark-1;
  outline: 1px solid $color-light-1;
}

// CHECKOUT PORTION
.checkout {
  width: 35%;
  margin: auto;
  height: 95%;
  background-color: $color-light-5;
  border-radius: 13px;

  &__title {
    width: 90%;
    margin: 2rem auto;
    @include fontSm;
    font-weight: 700;
    color: $color-light-1;
  }
}

// CREDIT CARD DETAILS
.checkout__cards {
  width: 90%;
  height: 12.5%;
  margin: 0 auto;
  @include flex-row;
  justify-content: space-between;

  .card {
    width: 30%;
    height: 10rem;
    border-radius: 13px;
    border: 2px solid $color-light-4;

    &:hover,
    &:focus {
      border: 2px solid $color-light-1;
    }

    img {
      height: auto;
      max-height: 100%;
    }
  }
}

.checkout__details {
  width: 90%;
  height: 35%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// CHECKOUT FORMS

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group-double {
  display: flex;
  justify-content: space-between;

  .form__group {
    width: 45%;
  }
}

.checkout__label {
  color: $color-light-1;
  margin: 1rem 0 0.5rem;
  @include fontXs;
}

.checkout__input {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(#ffffff, 0.4);
  outline: none;

  &:focus {
    background-color: rgba(#ffffff, 0.8);
  }
}

.checkout__summary {
  width: 90%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem auto 0;
  padding: 2rem 0 1rem;
  border-top: 2px solid $color-light-4;

  .summary {
    display: flex;
    justify-content: space-between;
    @include fontXs;
    color: $color-light-1;

    &__amount {
      font-weight: 700;
      margin: 0.5rem 0;
    }
  }
}

.checkout__btn {
  width: 100%;
  margin: 1.5rem 0 0;
  background-color: rgba($color-light-2, 0.8);

  &:hover,
  &:focus {
    background-color: $color-light-2;
  }
}

// Billing Address
.checkout__shipping {
  width: 90%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checkout__checkbox {
  width: 2rem;
  height: 2rem;
  border: 2px solid $color-dark-1;
  background-color: $color-light-4;
}

.form__group.form-row {
  flex-direction: row;
  align-items: flex-end;

  .checkout__label {
    margin-right: 1rem;
    line-height: 0.8;
  }
}

.checkout.show-cart {
  transform: translateX(50%);
  right: 50%;
}
